@import "globals/zothacks-styles.scss";

.Home {
  text-align: center;
  min-height: 100vh;

  h1 {
    font-weight: 600;
  }

  button {
    width: 100px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    border: 0px !important;
  }

  #intro {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);

    .intro-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: calc(100% - 320px);
    }

    .schedule-nav {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;

      a {
        margin-right: 0 !important;
        text-decoration: none;
        display: flex;
        align-items: center;

        h5 {
          margin-bottom: 0;
          margin-left: 30px;
        }
      }
    }

    .schedule-button {
      margin: 2em;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .title-info {
      display: flex;
      flex-direction: row;
      margin-top: 15rem;

      @media screen and (max-width: $break-medium) {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;

        .zucc-wrapper {
          height: 300px !important;
          margin-bottom: 30px;

          .zucc-shadow {
            width: 80px !important;
            height: 15px !important;
            margin-left: 15px !important;
          }
        }

        img {
          margin-left: 0rem !important;
          margin-top: 1rem;
          margin-bottom: 3rem;
          width: 200px !important;
          height: 200px !important;
        }

        h1 {
          font-size: 60px;
        }

        .title-info-description {
          width: 70vw;
        }
      }

      .zucc-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 500px;

        .zucc-shadow {
          width: 150px;
          height: 25px;
          border-radius: 50%;
          background-color: #2e2e2e;
          margin-left: 60px;
        }
      }
  
      img {
        width: 400px;
        height: 400px;
        margin-left: 2rem;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      h1 {
        margin-bottom: .1em !important;
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    .wave-transition {
      display: none;
    }
  }

  #info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    img {
      position: absolute;
      width: 100vw;

      @media screen and (max-width: $break-small) {
        transform: scale(2);
      }

      @media screen and (max-width: $break-medium) {
        margin-top: 5rem;
      }
    }

    div {
      color: white;
      text-align: left;
      width: 60vw;
      background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);
      padding: 3rem;
      border-radius: 1rem;
      box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
      z-index: 1;

      @media screen and (max-width: $break-small) {
        width: 80vw;
        text-align: center;
        padding: 1.7rem;
        padding-top: 2rem;
      }

      @media screen and (max-width: $break-medium) {
        margin-top: 5rem;
      }

      h2 {
        text-align: center;
        font-size: 3rem;
        // width: 80vw;
        
        @media screen and (max-width: $break-small) {
          font-size: 25px;
        }
      }
    }
  }

  #mentors {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & > h2 {
      margin-top: 10vh;
      width: 80vw;
    }

    div {
      width: 70vw;
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $break-medium) {
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 300px;
        height: 300px;
        border-radius: 1rem;

        @media screen and (max-width: $break-medium) {
          width: 240px;
          height: 240px;
          margin-top: 12rem;
        }
      }

      .mentor-information { 
        margin-left: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;

        @media screen and (max-width: $break-medium) {
          margin-top: 2rem;
          margin-left: 0rem;
          margin-bottom: 5rem;
          text-align: center;
          align-items: center;
        }
      }
    }

    .mentors-butterfly {
      width: 100px;
      height: 100px;
    }

    .--one {
      width: 120px;
      height: 120px;
      margin-right: auto;
      margin-left: 8vw;
      margin-bottom: 2rem;

      @media screen and (max-width: $break-medium) {
        position: absolute;
        top: 21px;  
        margin: 0;
        transform: translateX(-50px);
      }
    }

    .--two {
      margin-left: auto;
      margin-right: 12vw;
      transform: translateY(-40px);

      @media screen and (max-width: $break-medium) {
        position: absolute;
        top: -18px;
        margin: 0;
        transform: translateX(40px)
      }
    }
  }

  #faq {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);

    & > h2 {
      width: 80vw;

      @media screen and (max-width: $break-medium) {
        margin-top: 3rem;
      }
    }

    & > div {
      width: 60vw;

      @media screen and (max-width: $break-small) {
        width: 80vw;
      }
    }
  }

  #credits {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $coloredLightBackground;
    background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);

    p {
      margin: 0;
    }
  }
}