@import "globals/zothacks-styles.scss";

.Home {
  text-align: center;
  min-height: 100vh;

  h1 {
    font-weight: 600;
  }

  button {
    width: 100px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    border: 0px !important;
  }

  #background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  #mobile-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }


  #intro {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);

    // @media screen and (max-width: $break-medium) {
    //   background-color: $coloredLightBackground;
    // }

    .schedule-nav {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;

      a {
        margin-right: 0 !important;
        text-decoration: none;
        display: flex;
        align-items: center;

        h5 {
          margin-bottom: 0;
          margin-left: 30px;
        }
      }
    }

    .schedule-button {
      margin: 2em;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .title-info {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $break-medium) {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;

        img {
          margin-left: 0rem !important;
          margin-top: 1rem;
          margin-bottom: 3rem;
          width: 200px !important;
          height: 200px !important;
        }

        h1 {
          font-size: 60px;
        }

        .title-info-description {
          width: 70vw;
        }
      }
  
      img {
        width: 400px;
        height: 400px;
        margin-left: 2rem;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      h1 {
        margin-bottom: .1em !important;
      }
    }
  }

  .svg-transition-one {
    transform: translateY(-200px);
  }
  .svg-transition-two {
    transform: translateY(425px);
  }

  #info {
    margin-top: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    img {
      position: absolute;
    }

    div {
      color: white;
      text-align: left;
      width: 60vw;
      background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);
      padding: 3rem;
      border-radius: 1rem;
      box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
      z-index: 1;

      @media screen and (max-width: $break-small) {
        width: 80vw;
        text-align: center;
      }

      h2 {
        text-align: center;
        font-size: 3rem;
        // width: 80vw;
        
        @media screen and (max-width: $break-small) {
          font-size: 25px;
        }
      }
    }
  }

  #mentors {
    margin-top: 15rem;
    margin-bottom: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h2 {
      margin-top: 10vh;
      width: 80vw;
    }

    div {
      width: 70vw;
      display: flex;
      flex-direction: row;

      img {
        width: 300px;
        height: 300px;
        border-radius: 1rem;
      }

      .mentor-information { 
        margin-left: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
      }
    }
  }

  #faq {
    // min-height: 100vh;
    margin-top: 12rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);

    & > h2 {
      margin-top: 10vh;
      width: 80vw;
    }

    & > div {
      width: 60vw;

      @media screen and (max-width: $break-small) {
        width: 80vw;
      }
    }
  }

  #credits {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $coloredLightBackground;
    background: linear-gradient(to right, $blueGreenBackground, $yellowGreenBackground);

    p {
      margin: 0;
    }
  }
}